@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS fix */
.leaflet-container {
    width: 100%;
    height: 100%;
}

/* Strict Glassmorphism Popup Override */
.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(16px) !important;
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2) !important;
    border-radius: 16px !important;
    color: #0f172a !important;
}

.leaflet-popup-tip {
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.leaflet-popup-content {
    margin: 12px !important;
}

.leaflet-container a.leaflet-popup-close-button {
    color: rgba(255, 255, 255, 0.6) !important;
    font: 24px/24px Tahoma, Verdana, sans-serif !important;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: white !important;
}